@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --background: hsl(39, 100%, 95%);
  --foreground: hsl(0, 0%, 0%);
  --popover: hsl(39, 43%, 96%);      /* #FAF6F0 */
  --popover-foreground: hsl(0, 0%, 0%); /* #000000 */
  --primary: hsl(39, 56%, 88%);      /* #F4EAE0 */
  --primary-foreground: hsl(0, 0%, 0%); /* #000000 */
  --secondary: hsl(0, 0%, 0%);   /* #FAF6F0 */
  --secondary-foreground: hsl(39, 100%, 95%); /* #000000 */
  --muted: hsl(39, 32%, 76%);       /* #F4EAE0 */
  --muted-foreground: hsl(0, 0%, 0%); /* #000000 */
  --accent: hsl(39, 64%, 86%);       /* #F4DFC8 */
  --accent-foreground: hsl(0, 0%, 0%); /* #000000 */
  --destructive: hsl(0, 0%, 0%);     /* #000000 */
  --border: hsl(39, 64%, 86%);       /* #F4DFC8 */
  --input: hsl(39, 43%, 96%);        /* #FAF6F0 */
  --ring: hsl(30, 27%, 93%);         /* #F4EAE0 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: monospace;
}

@tailwind utilities;

@layer utilities {
  .animate-scroll {
    animation: scroll-left 20s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-40%);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}